body, html { height:100% }
body {
    padding:0;
    margin:0;
    font-family: Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size:14px;
    background-color:white;
}

#Wrapper {
    background-color:#eee;
    width:650px;
    position:relative;
    margin:0 auto;
    height:100%
}

#Wrapper .content {
    padding:20px;
    background-color:#eee;
}
#Wrapper .content.second {
    background-color:#ccc;
}

p { line-height:24px }
p, h1, h2 { margin:0px 0px 12px 0px; padding:0 }

#Header h1 {
    font-size:27px;
}

#Header h2 {
    margin-top:-12px;
    font-size:17px;
}
#ActionLinks a {
    background-color:#666;
    padding:10px;
    border-radius: 8px;
    text-decoration: none;
    color:#fff;
    display:inline-block
}
#ActionLinks a:hover {
    background-color:#000
}